<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- JSR-303 support will be detected on class path and enabled automatically -->
	<mvc:annotation-driven conversion-service="conversionService" />

	<!-- Required for to allow static and dynamic content to be served by the DispatcherServlet -->
	<mvc:default-servlet-handler/>

	<!-- Serve up all static content with a ResourceHttpRequestHandler (with a 1 year expiry) -->
	<!-- <mvc:resources mapping="/static/**" location="/static/" cache-period="31556926" /> -->
	
	<bean id="jspViewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:viewClass="org.springframework.web.servlet.view.JstlView"
        p:prefix="/WEB-INF/jsp/pages/"
        p:suffix=".jsp" />
        
    <!-- Remap view names to internal jsp resources -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:order="1"
		p:viewClass="org.springframework.web.servlet.view.JstlView"
		p:prefix="/WEB-INF/jsp/pages/"
		p:suffix=".jsp" /> -->
    
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
        p:basename="classpath:messages"
        p:defaultEncoding="UTF-8" />
        
	<!-- Define fault barrier -->
	<bean id="exceptionResolver" class="com.infotree.qliktest.admin.web.CustomMappingExceptionResolver">
		<property name="defaultErrorView" value="error"/>
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.security.access.AccessDeniedException">access-denied</prop>
			</props>
		</property>
	</bean>
	
	<!-- jackson  -->
	<bean id="messageAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	  <property name="messageConverters">
	    <list>
	      <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
	    </list>
	  </property>
	</bean>
	
	        
</beans>